img {
  max-width: 100%;
}
div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
h1 {
  grid-column: 1 / -1;
}
@media (max-width: 600px) {
  div {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 150%;
  }
}
/* Acima de 700 e abaixo de 900 */
@media (min-width: 700px) and (max-width: 900px) {
  p {
    background-color: lightskyblue;
  }
}
.galeria {
  margin-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
